<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Flask Beer Recommender</title>
        <link href="{{ css_url }}" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div class="container">
            <form id="rec">
                <select id="beers" data-placeholder="Choose some beers..." class="chosen-select" multiple>
                </select>
                <button class="btn" type="submit">Go!</button>
            </form>
            <section class="results">
                <p class="lead">Top Ten Recommended Beers</p>
                <figure class="visualization row">
                    <div class="col-sm-6 col-1"></div>
                    <div class="col-sm-6 col-2"></div>
                </figure>
            </section>
            <pre id="result" class="language-javascript"><code class="language-javascript"></code></pre>
        </div>
        <script src="{{ jquery_url }}"></script>
        <script src="{{ highlight_url }}"></script>
        <script src="{{ beers_url }}"></script>
        <script src="{{ js_url }}"></script>
    </body>
</html>
